body{
    background-color: #ECEFF1;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header-start */
header{
    width: 100%;
    height: 70px;
    background-color: #003e8f;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.links a{
    color: white;
    text-decoration: none;
    padding: 5px 13px;
    font-size: 1.1em;
    margin: 20px;
    transition: 0.5s;
    border-radius: 15px;
}          
.links a.active{
    background-color: #1d9dff;    
}
.links a:hover{
    background-color: #1d9dff;
}
#click{
    display: none;
}
.checkbtn{
    display: none;
}
@media (max-width: 639px){
    .checkbtn{
        display: flex;
        color: #ffcc29;
        font-size: 27px;
        margin-left: 20px;
    }
    .links{
        position: fixed;
        top: 70px;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        left: -100%;
        transition: all 0.5s;
    }
    .links a{
        display: block;
        text-align: center;
        margin: 30px 0;
    }
    #click:checked ~ .links{
        left: 0;
    }
}
/* Header-end */

/* main section start */
h1{
    margin-left: 20px;
}

h2{
    margin-left: 20px;
}

span{
    color: #003E8F;
}

.meal{
    margin-left: 80px;
    width: 95%;
    height: fit-content;
    
}
.meal img{
    background-color: white;
    margin: 10px;
    justify-content: center;
    
}


.drink{
    margin-left: 80px;
    width: 95%;
}
.drink img{
   margin: 10px;
   width: fit-content;
}

.order{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 40vh;
    background-color: #1A2E05;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 0, 30px, 0, 35px;
}

.order h1{
    color: #9BDB56;
    margin-left: 40px;
}

.free{
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: bold;
  color: #95d650;
}

label{
    align-items: center;
    margin: 30px;
}
