body{
    background-color: #ECEFF1;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header-start */
header{
    width: 100%;
    height: 70px;
    background-color: #003e8f;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.links a{
    color: white;
    text-decoration: none;
    padding: 5px 13px;
    font-size: 1.1em;
    margin: 20px;
    transition: 0.5s;
    border-radius: 15px;
}          
.links a.active{
    background-color: #1d9dff;    
}
.links a:hover{
    background-color: #1d9dff;
}
#click{
    display: none;
}
.checkbtn{
    display: none;
}
@media (max-width: 639px){
    .checkbtn{
        display: flex;
        color: #ffcc29;
        font-size: 27px;
        margin-left: 20px;
    }
    .links{
        position: fixed;
        top: 70px;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        left: -100%;
        transition: all 0.5s;
    }
    .links a{
        display: block;
        text-align: center;
        margin: 30px 0;
    }
    #click:checked ~ .links{
        left: 0;
    }
}
/* Header-end */

/* main section start */

main{
    padding: 20px;
}

.dio{
    padding-left: 20px;
}
.dio span{
    color: #003e8f;
}

ol{
    padding-left: 50px;
}

.chilled{
    padding-left: 20px;
}

@media (max-width: 400px){
    .images{
       padding:20px;
       display: grid;
       grid-template-columns: minmax(0, 1fr);
       gap: 20px;
    }
    .images img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media (401px <= width <= 639px){
    .images{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }
    .images img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media (640px <= width <= 767px){
    .images{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }
    .images img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media (768px <= width <= 1023px){
    .images{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
    }
    .images img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media (min-width: 1024px){
    .images{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
    }
    .images img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

form label {
    display: inline-block;
    width: 100px;
    margin: 10px
}

form button {
    margin-left: 10px;
    background-color: #003e8f;
    color: white;
}

/* counter section */

.counter{
    display: flex;
    background-color: #1a2e05;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center; 
    padding: 40px;
    color: #9bdb56;
    margin: 20px 10px 40px 10px;
    border-radius: 0 40px 0 40px;

}

.label {
  margin-bottom: 5px;
  font-size: 50px;
  color: #9bdb56;
  font-weight: bold;
}

.buttons{
    background-color:#9bdb56;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 7px;     
}
button{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.rider-div {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffcc29;
}

.rider-text {
  width: 50%;
  height: 45vh;
  align-content: center;
}

.rider-image {
  width: 50%;
  height: 45vh;
}

.Trust-h1 {
  color: #ff0000;
  font-weight: 900;
}

.launch-h1 {
  color: white;
  font-weight: 900;
}


.rider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  height: 10vh;
  width: 99%;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  padding-left: 5%;
  color: white;
  font-weight: bold;
}
@media (max-width: 639px){
    .rider-div {
    display: flex;
    flex-wrap: wrap;
  }

    .rider-text {
    width: 100%;
    height: 100%;
  }

  .rider-image {
    width: 100%;
    height: 100%;
  }

  .trust-h1 {
  color: #ff0000;
  font-size: 25px;
  }

  .launch-h1 {
    color: white;
    font-size: 25px;
  }

}

/* main section end */
